@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

.creators-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
}

.creator-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -3rem;
  width: 50%;
  padding: 1rem;
}

#article {
  flex-basis: 100%;
  background-size: cover;
  background-position: center 20%;
  display: inline-block;
  width: 40vw;
  max-height: 46vh;
  box-shadow: 0 -1px 5px 2px rgba(255, 255, 255, 0.2);
  font-family: "Lato", sans-serif;
}

.background-tint {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.card-content {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 13vh;
}

.card-header {
  display: flex;
  justify-content: space-between;
}

.card-actions {
  display: flex;
}

.card-action {
  margin-left: 1rem;
  cursor: pointer;
  color: white;
  font-size: x-large;
}

.card-action:hover {
  color: var(--shocking-pink);
}

.card-title {
  color: var(--fluorescent-cyan);
  text-shadow: 1px 1px 0 #000;
  font-family: "Lato", sans-serif;
}

.card-link {
  color: white;
  text-shadow: 2px 2px 0 #000;
  cursor: pointer;
  margin-right: 20px;
  justify-content: center;
}

.card-link:hover {
  color: var(--shocking-pink);
}

.card-links {
  display: flex;
  transform: translateY(-50px);
  align-items: center;
}

.card-description-container {
  transform: translateY(-50px);
}

.card-description {
  color: white;
  text-shadow: 2px 2px 0 #000;
  /* transform: translateY(-50px); */
  font-size: 15px;
  width: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.empty-results-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.empty-results {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  color: var(--plum);
  text-shadow: 1px 1px 0 #000;
  text-align: center;
}

.create-list {
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
  font-style: italic;
  color: var(--plum);
  text-shadow: 1px 1px 0 #000;
  text-align: center;
}

.modal-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.delete-button {
  background-color: var(--tekhelet) !important;
  max-width: 16rem;
  height: 4rem;
  display: flex;
  font-weight: 700;
  border: 1px solid white !important;
}

.delete-button:hover {
  background-color: red !important;
}

.edit-button {
  background-color: var(--tekhelet) !important;
  max-width: 16rem;
  height: 4rem;
  display: flex;
  border: 1px solid white !important;
  font-weight: 700;
}

.edit-button:hover {
  background-color: var(--fluorescent-cyan) !important;
  color: var(--shocking-pink);
}

article {
  width: 40rem !important;
}

header {
  font-size: 3vw;
}

.header-message {
  display: flex;
  justify-content: space-between;
  animation: headingPulse 1s infinite;
}

.check-message {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 50px;
}

.undo-button {
  font-weight: 700;
  font-size: 1rem;
}

.undo-button:hover {
  background-color: var(--fluorescent-cyan) !important;
  color: var(--shocking-pink);
}

.confirmation-button {
  font-size: 1rem;
  font-weight: 700;
}

@keyframes headingPulse {
  0% {
    transform: scale(1); /* Initial scale */
  }
  50% {
    transform: scale(1.025); /* Scaled up */
  }
  100% {
    transform: scale(1); /* Back to original scale */
  }
}

@media screen and (max-width: 900px) {
  .card-title {
    font-size: 20px;
  }
  .empty-results {
    font-size: 28px;
  }
  .create-list {
    font-size: 20px;
  }
  .header-message {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .creators-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    width: 150vw;
    margin-left: 7%;
  }

  .card-content {
    padding-top: 8vh;
  }
}

@media screen and (max-width: 460px) {
  .confirmation-button {
    font-size: 0.75rem;
  }
  .undo-button {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 400px) {
  .header-message {
    font-size: 1.25rem;
  }
}
