@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

.creator-form-container {
  overflow: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
}

.creator-form {
  display: border-box;
  margin-top: 500px;
  width: 50vw !important;
}

label {
  font-family: "Lato", sans-serif;
  color: white;
  font-size: 24px;
}

input {
  background-color: white !important;
  color: black !important;
}

textarea {
  background-color: white !important;
  color: black !important;
}

.helper-text {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 8px;
  color: white;
  align-items: center;
}

.social-links-header {
  font-size: 30px;
  font-family: "Lato", sans-serif;
  color: var(--shocking-pink);
  font-weight: 700;
}

.social-handle-error {
  font-size: 14px;
  font-style: italic;
  margin-bottom: 8px;
  color: red;
  align-items: center;
  animation: pulse 1s infinite;
}

.handle-icon-container {
  display: flex;
}

.handle-icon {
  margin-right: 10px;
}

.submit-button {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  height: 80px;
  justify-content: center;
  align-items: center;
  max-width: 50vw !important;
}

.edit-form-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.submit-button {
  background-color: var(--tekhelet) !important;
  max-width: 16rem;
  height: 4rem;
  display: flex;
  border: 1px solid white !important;
}

.submit-button:hover {
  background-color: green !important;
}

.delete-button {
  background-color: var(--tekhelet) !important;
  max-width: 16rem;
  height: 4rem;
  display: flex;
  border: 1px solid white !important;
}

.delete-button:hover {
  background-color: red !important;
}

article {
  width: 40rem !important;
}

header {
  font-size: 3vw;
}

.header-message {
  display: flex;
  justify-content: space-between;
  animation: headingPulse 1s infinite;
  font-family: "Lato", sans-serif;
  font-size: 30px;
  color: var(--shocking-pink);
  font-weight: 700;
}

.check-message {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  padding-bottom: 50px;
}

.modal-button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.undo-button {
  font-weight: 700;
}

.undo-button:hover {
  background-color: var(--fluorescent-cyan) !important;
  color: var(--shocking-pink);
}

.confirmation-button {
  font-size: 1rem;
  font-weight: 700;
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Initial scale */
  }
  50% {
    transform: scale(0.025); /* Scaled up */
  }
  100% {
    transform: scale(1); /* Back to original scale */
  }
}

@media screen and (max-width: 900px) {
  .card-title {
    font-size: 20px;
  }
  .empty-results {
    font-size: 28px;
  }
  .create-list {
    font-size: 20px;
  }
  .header-message {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 550px) {
  .creators-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem;
    width: 150vw;
    margin-left: 7%;
  }

  .card-content {
    padding-top: 8vh;
  }
}

@media screen and (max-width: 460px) {
  .confirmation-button {
    font-size: 0.75rem;
  }
  .undo-button {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 400px) {
  .header-message {
    font-size: 1.25rem;
  }
}
